$border-black: rgba(0, 0, 0, 0.05);
$button-dark: #2e2e2e;
$button-darker: #212121;
$button-green: #018645;
$button-green-darker: #016d38;
$button-red: #c04444;
$button-red-darker: #af3b3b;
$white: #ffffff;
$light-gray: #868686;
$dark-gray: #393939
